<html>
  <body>
    <h1>Thanks for your order!</h1>
    <br>
    <% @line_items.each do |item| %>
      <%= render 'receipt', product: item.product, quantity: item.quantity.to_i %>
    <% end %>
    <br>
    <h3>ORDER TOTAL: </h3>
    <%= number_to_currency(@order.total_cents / 100) %>
  </body>
</html>
